import logging

# smtp smarthost to use for relay; this should not be the same host as the receiving server!
SMTP = {
    'host': 'smtp.gmail.com',
    'port': 465,
    'user': 'test@gmail.com',
    'password': 'password',
    'tls': False,
}

IMAP = {
    'host': 'imap.gmail.com',
    'port': 993,
    'user': 'test@gmail.com',
    'password': 'password',
    'mailbox': 'INBOX',
}

TEST_MAIL = {
    'sender': 'john.doe@gmail.com',
    'recipient': IMAP['user'],
    'subject': 'Test-Email {}',
}

MAX_RETRIES = 30
LOG_LEVEL = logging.INFO
TEXTFILE_PATH = '/tmp/mail_delivery.prom'
